{% extends "base.html" %}
{% block content %}
<h2 class="text-center">Reset Password</h2>
<form method="POST" class="w-50 mx-auto">
{{ form.hidden_tag() }}
{{ form.email.label }} {{ form.email(class="form-control") }}
{{ form.otp.label }} {{ form.otp(class="form-control") }}
{{ form.new_password.label }} {{ form.new_password(class="form-control") }}
{{ form.confirm_password.label }} {{ form.confirm_password(class="form-control") }}
<br>
{{ form.submit(class="btn btn-primary") }}
</form>
{% endblock %}